p, span {
        font-family: Roboto, Arial;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .avatar {
        width: 50px;
        border-radius: 36px;
        margin-top: 5px;
      }
      .video-info {
        display: grid;
        grid-template-columns: 50px 1fr;
        column-gap: 10px;
      }
      .channel-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
        row-gap: 30px;
        margin-bottom: 1000px;
      }
      .title {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        margin-top: 10px;
      }
      .thumbnail {
        width: 100%;
        border-radius: 10px;
      }
      .thumbnail-white {
        border-style: solid;
        border-color: black;
        border-width: 5px;
        border-radius: 10px;
        width: 96%;
      }
      .info {
        margin-top: 5px;
      }
      .video-author, .video-stats {
        margin-top: 10px;
        color: rgb(96,96,96);
      }
      .header {
        display: flex;
        flex-direction: row;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background-color: white;
        opacity: 0.99;
        padding-top: 5px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: rgb(225, 225, 225);
        z-index: 100;
      }
      .search {
        flex: 1;
        max-width: 650px;
        display: flex;
        flex-direction: row;
      }
      .misc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 244px;
        margin-left: 30px;
        flex-shrink: 0;
      }
      .searchbox {
        height: 40px;
        border-end-start-radius: 20px;
        border-start-start-radius: 20px;
        border-width: 1px;
        border-color: rgb(211,211,211);
        border-style: solid;
        padding-left: 12px;
        padding-bottom: 0px;
        flex: 1;
        box-shadow: inset 1px 1px 2px rgba(0,0,0,0.05);
        font-size: 16px;
        width: 0;
      }
      .searchbox::placeholder {
        font-family: Roboto, Arial;
        font-size: 16px;
      }
      .magnifying-glass {
        cursor: pointer;
        background-color: rgb(248,248,248);
        border-style: solid;
        border-width: 1px;
        border-color: rgb(211,211,211);
        height: 43px;
        border-start-end-radius: 20px;
        border-end-end-radius: 20px;
        width: 64px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left:-1px;
      }
      .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 150px;
        margin-right: 70px;
        flex-shrink: 0;
      }
      .for-image {
        height: 20px;
        width: 20px;
      }
      .magnifying-image {
        width: 100%;
        height: auto;
      }
      .notification, .menu {
        background-color: white;
        height: 40px;
        width: 40px;
        border-radius: 20px;
        border: none;
        position: relative;
      }
      .menu {
        padding: 0px;
      }
      .profile {
        background-color: rgb(91, 153, 239);
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 24px;
      }
      .creatediv {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
      }
      .create {
        color: rgb(248,248,248);
        height: 40px;
        border-radius: 20px;
        border: none;
        padding-right: 20px;
      }
      .micsearch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 44px;
        border-radius: 22px;
        border: none;
        margin-left: 10px;
        position: relative;
      }
      .micsearch .tooltip {
        position: absolute;
        font-size: 10px;
        font-family: Roboto, Arial;
        font-weight: 300;
        bottom: -45px;
        padding: 12px;
        background-color: black;
        opacity: 0;
        color: white;
        width: 100px;
        border-radius: 5px;
        pointer-events: none;
      }
      .notification .tooltip {
        position: absolute;
        font-size: 10px;
        font-family: Roboto, Arial;
        font-weight: 300;
        bottom: -45px;
        right: -20px;
        padding: 12px;
        padding-right: 16px;
        background-color: black;
        opacity: 0;
        color: white;
        width: 50px;
        border-radius: 5px;
        pointer-events: none;
      }
      .notification:hover .tooltip {
        opacity: 0.55;
      }
      .notification:active .tooltip {
        opacity: 0;
      }
      .micsearch:hover .tooltip {
        opacity: 0.55;
      }
      .micsearch:active .tooltip {
        opacity: 0;
      }
      button:hover {
        background-color: rgb(224, 224, 224);
      }
      button:active {
        background-color: rgb(211,211,211);
      }
      button {
        cursor: pointer;
      }
      .for-menu {
        margin-left: 24px;
        margin-right: 24px;
      }
      .sidebar {
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 0;
        width: 88px;
        padding-top: 15px;
        background-color: white;
        z-index: 200;
      }
      .sidebar-icon-button:hover {
        background-color: rgb(237, 237, 237);
      }
      .sidebar-icon-button:active {
        background-color: rgb(224, 224, 224);
      }
      .timestamp {
        position: absolute;
        right: 8px;
        bottom: 16px;
        background-color: black;
        color: white;
        font-size: 12px;
        font-weight: 500;
        padding: 3px;
        border-radius: 6px;
        opacity: 0.8;
      }
      .for-timestamp {
        position: relative;
      }
      .timestamp-white {
        position: absolute;
        right: 18px;
        bottom: 16px;
        background-color: black;
        color: white;
        font-size: 12px;
        font-weight: 500;
        padding: 3px;
        border-radius: 6px;
        opacity: 0.8;
      }
      .notification-alert {
        position: relative;
      }
      .alert-text {
        background-color: red;
        color: white;
        font-family: Roboto, Arial;
        font-size: 12px;
        position: absolute;
        top: 0px;
        right: -2px;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 10px;
      }
      .sidebar-icons {
        height: 81px;
        background-color: pink;
      }
      .sidebar-writing {
        font-size: 12px;
        margin-top:0;
      }
      .youtube-icon {
        position: relative;
      }
      .country-name {
        position: absolute;
        top: -9px;
        right: -17px;
        font-size: 11px;
        font-family: Roboto, Arial;
        font-weight: 300;
      }
      .sidebar-icon-button {
        height: 81px;
        width: 88px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 20px;
        background-color: white;
      }
      .sidebar-icon-button img {
        height: 30px;
      }
